.card {
  width: 192px;
  padding: 0 5px;
  border: 0 solid #edf2f7;
  border-color: rgb(246, 109, 155);
  border-top-width: 8px;
  overflow: hidden;
  border-radius: 0.5rem;
  position: absolute;
  top: 100px;
  left: 350px;
}
