@import '../../styles/base.scss';

.table {
  position: relative;
  border-left: solid;
  border-left-color: rgb(246, 109, 155);
  border-left-width: 8px;

  $this: &;

  &:hover {
    background: #f5faff;
  }

  &:hover #{$this}__button {
    display: flex;
  }

  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 76%;
    height: 100%;

    &:checked {
      height: 40px;
    }

    &:checked ~ #{$this}__header {
      background: #c3dafe;
    }

    &:checked ~ #{$this}__details {
      display: block;
      height: auto;
      border-left-color: rgb(246, 109, 155);
      border-left-width: 8px;
      transition: height 0.3s ease-in;
    }
  }

  &__header {
    padding: 0 8px 0 12px;
    border-bottom: 1px #dae1e7 solid;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 170px;
  }

  &__buttons {
    display:flex;
  }

  &__button {
    padding: 8px 5px;
    border-radius: 0.25rem;
    background-color: transparent;
    border: 2px solid transparent;
    cursor: pointer;
    color: #2f365f;
    display: none;
    &:hover {
      background: #a3bffa;
    }
  }

  &__details {
    padding-right: 4px;
    border-bottom: 1px solid #edf2f7;
    height: 0;
    transition: height 0.3s ease-in;
    background: #fff;
    display: none;
  }

  &__row {
    padding: 8px;
    border-top: 1px solid #edf2f7;
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
  }
}


