@import '../../styles/base.scss';
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  &__main {
    display:flex;
    align-items: center;
    margin-right: 24px;
  }
  &__index {
    display:flex;
    align-items: center;
  }

  &__logo {
    width: 24px;
    height: 24px;
    margin: 0 16px 0 8px;
  }

  &__name {
    color:$light-color;
    font-weight: $font-weight-bold;
    line-height: $line-height-medium;
    display:none;
    &--big {
      font-weight: $font-weight-regular;
    }
    @media (min-width: 960px) {
      display: block;
    }
  }
  &__options {
    color: $light-color;
    margin-left: 1rem;
    display:none;
    @media (min-width: 768px) {
      display: flex;
    }
  }

  &__item {
    padding: 8px 16px;
    cursor: pointer;
    &:hover{
      background: $hover-options-header;
      border-radius: 0.25rem;
    }
  }

  &__type-name {
    color: $light-color;
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
  }
  
  &__type-document {
    color: $lila-color;
    &:hover {
      color:$light-color;
      text-decoration: underline;
    }
  }

  &__save-change {
    display:flex;
    align-items: center;
  }

  &__change-text {
    color: $yellow-color;
    margin-right: 16px;
    line-height: $line-height-medium;
    display: inline-flex;
  }

  &__profile {
    width: 36px;
    height: 36px;
    cursor: pointer;
    margin-left: 1rem
  }
}

.save-changes {
  padding: 8px 16px;
  border: 1px solid $yellow-color;
  background: transparent;
  color: $light-color;
  font-size: $font-size-large;
  line-height: $line-height-small;
  font-weight: $font-weight-semi-bold;
  border-radius: 0.25rem;
  cursor: pointer;


  &:hover {
    background: $light-color;
    color: $purple-color;
  }
  &--radius {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.pop-up {
  padding: 4px;
  border: 1px solid $light-color;
  background: transparent;
  color: $light-color;
  cursor: pointer;


  &:hover {
    background: $light-color;
  }
  &__arrow {
    width: 18px;
    height: 11px;
    margin: 6px 0;
    color: $light-color;
  }
}

.color-lila {
  color: $lila-color;
}




