/*General styles */
@import 'fonts.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: $line-height-medium;
  font-weight: $font-weight-medium;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: $gray-color;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}


/* Utilities */
.container {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  background: #f1f6f8;
}

.content {
  display: flex;
}

.button {
  background: transparent;
  border: 2px solid #38b2ac;
  color: $light-color;
  cursor: pointer;
  font-size: $font-size-small;
  padding: 8px;
  margin-right: 12px;
  border-radius: 4px;

  &:hover {
    background: #319795;
    border: 2px solid #319795;
  }
}

.button-full {
  background: #38b2ac;
}

.button-light {
  color: #38b2ac;
  border: 1px solid #38b2ac;
  font-weight: $font-weight-bold;
  &:hover {
    background: #e6fffa;
    border: 1px solid #38b2ac;
  }
}

.button-off {
  color: $drawer-color;
  font-weight: $font-weight-bold;
  border: 1px solid $drawer-color;
  &:hover {
    background: #f7fafc;
    border: 1px solid $drawer-color;

  }
}
