$line-height-extra-large: 28px;
$line-height-large: 24px;
$line-height-medium: 20px;
$line-height-small: 18px;


$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;


$font-size-extra-large: 1.25rem; // 20px
$font-size-large: 1.125em;  // 18pxpx
$font-size-medium: 1rem;  // 16px
$font-size-small: 0.875em;  // 14px


$purple-color:  #5661b3;
$secondary-color:  #38b2ac;
$light-color: #FFF;
$yellow-color: #fbbf24;
$lila-color: #b2b7ff;
$gray-color: #a0aec0;

$drawer-color: #d9e3e8;

// rgb(160, 174, 192) -->botton
// hover header rgba(102,126,234,1)
$hover-options-header: #667eea;
