@import '../../styles/base.scss';

.indexes {
  padding: 4px 0 8px 0;
  margin: 8px 12px;
  border-radius: 8px;
  background: #edf2f7;

  &__title {
    padding: 4px 8px;
    text-transform: uppercase;
    font-weight: $font-weight-semi-bold;
  }
}
